/* Custom Styles for My Orders Page */
.order-card {
  background: #f8f8f8;
}

.order-card img {
  max-width: 100%;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /* object-fit: contain; */
  object-position: center;
  transition: transform 0.3s ease;
}

.order-card a:hover {
  text-decoration: underline;
}

.filter-section {
  margin-bottom: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

.order-card-header {
  font-size: 12px;
  color: #63625f;
  display: flex;
  justify-content: space-between;
}

.order-card-body {
  background-color: white;
  border-radius: 5px;
}

.order-item-body {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}

.order-item-body:last-child {
  border-bottom: none;
}

.order-item-body hr {
  color: black;
}

.order-card-header a {
  text-decoration: none;
  color: #3480d1;
}

.order-card-header div span {
  text-transform: uppercase;
}

.product-details {
  font-size: medium;
}
.product-link {
  text-decoration: none;
  font-size: medium;
  color: #0d70a5;
}
.product-link:hover {
  text-decoration: underline;
  color: #0a3c57;
}
.product-details-btns {
  display: grid;
  justify-content: start;
}
.product-details button {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid black !important;
  font-weight: 400;
  border-radius: 25px 25px 25px 25px !important;
  margin-bottom: 10px;
}
.product-details button:hover {
  color: black;
  background-color: #f8f8f8;
  border: 1px solid black !important;
}

.order-item-img-column {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  padding: 10px;
}
.image-and-quantity-column {
  position: relative;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.quantity-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  color: #000;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.35rem 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 0px 3px 2px #e2dede;
  line-height: 1;
  z-index: 10;
}

.order-card-header-links {
  font-weight: 400;
  text-align: right;
}
.no-orders-placed {
  text-align: center;
  color: lightgrey;
  font-size: larger;
  margin-bottom: 2rem;
}
.search-btn {
  color: lightslategray;
  border-radius: 5px;
  border: none;
}
.mb-4 .form-select,
.mb-4 input {
  font-size: revert;
}
.errorMessage {
  color: red;
}
/* .tooltip-inner {
  background-color: #f8d7da !important; 
  color: #842029 !important; 
} */

.tooltip-arrow {
  border-bottom-color: #f8d7da !important; /* Arrow color */
}
.popup-close-btn {
  color: black !important;
  background-color: white !important;
}

a.track-order-link {
  text-decoration: none;
}
a.track-order-link:hover {
  text-decoration: none;
}

#order-tracking-id-text {
  font-size: 15px;
  font-weight: 500;
  color: #63625f;
}

.return-order-link {
  font-weight: 600;
  font-size: 14px;
}

.order-return-header a {
  display: flex;
  gap: 5px;
  align-items: center;
}

.order-return-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-tracking-link-column {
  text-align: center;
}

.order-item-status {
  font-size: 13px;
  background: #ecf4f7;
  position: relative;
  padding: 7px;
  color: #748b99;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid #9a9ab0;
  transition: all 0.9s ease;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: stretch;
}

span .status-show {
  display: block !important;
  transition: all 0.9s ease;
}

span.status-hidden {
  display: none !important;
  transition: all 0.9s ease;
}
